<!-- <app-parent></app-parent> -->
<!-- <app-home></app-home> -->
<!-- <app-spinner  *ngIf="showSpinner"></app-spinner>
<span  change-color>Hellox</span>
<div class="image-slider">
    <div class="img-contianer">
        <img src="https://cdn.pixabay.com/photo/2023/01/08/08/40/road-7704729_1280.jpg" loading="lazy" alt=""/>
    </div>
    <div class="img-contianer">
        <img src="https://cdn.pixabay.com/photo/2023/10/03/09/59/bridge-8291058_640.jpg" loading="eager" alt=""/>
    </div>
    <div class="img-contianer">
        <img src="https://cdn.pixabay.com/photo/2023/01/08/08/40/road-7704729_1280.jpg" loading="lazy" alt=""/>
    </div>
    <div class="img-contianer">
        <img src="https://cdn.pixabay.com/photo/2023/01/08/08/40/road-7704729_1280.jpg" loading="lazy" alt=""/>
    </div>
</div>
<app-mulitfile></app-mulitfile> -->
<!-- <app-dynamicform></app-dynamicform> -->
<!-- <app-my-form></app-my-form> -->
<!-- <app-form-reactive></app-form-reactive> -->
<!-- <app-kanbanboard></app-kanbanboard> -->
<router-outlet></router-outlet>
<div *ngFor="let item of resData">
    <p>{{item.name}}</p>
</div>


<app-pagination [currentPage]="0" [pageSize]="5" [data]="myData" (eventEmition)="getMyTables($event)" ></app-pagination>

